@keyframes background {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}

.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    230deg,
    rgb(75, 207, 147),
    rgb(75, 121, 207),
    rgb(162, 75, 207) 75%
  );
  background-size: 300% 300%;
  background-position: 0% 0%;
  animation: background 10s infinite linear;
}
