.hambergerOpen {
  display: flex;
  flex-direction: column;
  gap: 6px;
  div {
    width: 25px;
    height: 2px;
    background-color: black;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: black;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: black;
  }
}

.hambergerClose {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  div {
    width: 25px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
  }
}

:global(.active) {
  background-color: #d0f;
  border-radius: 100px;
  color: #eff;
  font-weight: 600;
}
