@keyframes background {
  from {
    background-color: #222;
  }
  to {
    background-color: #aaa;
  }
}

@keyframes logoContianer {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes logoText {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes introduction {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes introductionFront {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100dvh;
  padding-top: 80px;
  background-image: url("../../assets/image/start-page.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  animation: background 1000ms forwards;
}

main .logo {
  display: block;
  flex-direction: row-reverse;
  color: #fff;
  font-size: 40px;
  text-shadow: 0 0 7px #fff;
  padding: 6px 0px 5px 5px;
  margin-bottom: 50px;
  font-weight: 600;
  line-height: 1;
  border-width: 0 0 0 3px;
  border-style: solid;
  border-color: white;
  animation: logoContianer 1s forwards linear;
  overflow: hidden;
  span {
    display: inline-block;
    animation: logoText 2s linear forwards;
  }
}

main .introduction {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
  background-color: #3335;
  color: #fee;
  backdrop-filter: blur(5px);
  padding: 20px 15px;
  width: 80%;
  border-radius: 35px;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 28px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  animation: introduction 1s forwards;
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(136, 41, 231);
    animation: introductionFront 3s 1s forwards;
  }
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(30, 0, 60);
    z-index: -1;
    animation: introductionFront 4s 1s forwards;
  }
}

main .button {
  width: fit-content;
  background-color: #a0d;
  border-radius: 100px;
  padding: 0px 30px;
  margin-top: 10px;
  transition: all;
  transition-duration: 1s;
  &:hover {
    width: 100%;
  }
}
