.progress {
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  height: 15px;
  transition: all 300ms;
}

::-webkit-progress-bar {
  background-color: oklch(80.8% 0.114 19.571);
}
::-webkit-progress-value {
  background-color: oklch(84.5% 0.143 164.978);
}
