@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@import url("https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css");

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Shabnam", tahoma, sans-serif;
  text-align: right;
}
